.titulo-abrigos {
	color: #669999;
	margin: 40px 20px;
}

.abrigo {
	background: #BDD3D3;
	padding: 0!important;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.abrigo-descricao {
	color: #525151;
	font-weight: 600;
	font-size: 18px;
}

.abrigo .bttn-conhecer {
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;	
	font-size: 18px;
	transition: background 0.5s;
}

.abrigo .bttn-conhecer:hover {
	background: #669999;
}

.abrigo .link-abrigo {
	text-decoration: none;
	color: #111;
}