.login .login-title {
	margin: 20px 0 10px 55px;
	color: #669999;
}

.login form input {
	background:#E5E5E5;
	border-radius: 4px;
	font-weight: 500;
	font-size: 18px;
	color: #444;
}

.login .login-button {
	background: #669999;
	border: none;
	width: 100%;
	margin-top: 25px;
	display: flex;
	justify-content: center;
	font-weight: 600;
	font-size: 18px;
	transition: background 0.5s;
}

.login .login-button:hover {
	background: #527272;
}

.login .content-wrapper .social-login {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	gap: 20px;
	align-items: center;
}

.login .content-wrapper .facebook-button {
	background:#1877f2;
	color: #fff;
	height: 8.5%;
	padding: 10px;
	border: none;
	border-radius: 4px;
	display: flex;
  gap: 10px;
	align-items: center;
	transition: background 0.5s;
}

.login .content-wrapper .facebook-button:hover {
	background: #4f6e97;
}

.login .content-wrapper .google-button {
	height: 8.5%;
}

.login .content-wrapper .register-group {
	margin-top: 40px;
	margin-bottom: 0;
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.login .content-wrapper .link-register {
	margin-left: 5px;
	text-decoration: none;
	font-weight: 600;
	font-size: 16px;
}
