.Register header h1 {
	margin: 20px 0 10px 55px;
	color: #669999;
}

.Register header img {
	width: 100%;
	margin: auto;
}

.Register form input {
	background:#E5E5E5;
	border-radius: 4px;
	font-weight: 500;
	font-size: 18px;
	color: #444;
}

.Register footer {
	width: 35vw;
	margin: auto;
	margin-top: 20px;
}

.Register .termos-group{
	display: flex;
	text-align: center;
}

.Register .register-button {
	background: #669999;
	width: 20vw;
	display: flex;
	justify-content: center;
	margin: auto;
	font-weight: 600;
	font-size: 18px;
	transition: background 0.5s;
}

.Register .register-button:hover {
	background: #527272;
}

.social-login {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	gap: 20px;
	align-items: center;
}

.Register .facebook-button {
	background:#1877f2;
	color: #fff;
	height: 8.5%;
	padding: 10px;
	border: none;
	border-radius: 4px;
	display: flex;
  gap: 10px;
	align-items: center;
	transition: background 0.5s;
}

.Register .facebook-button:hover {
	background: #4f6e97;
}

.Register .google-button {
	height: 8.5%;
}

.Register .login-group {
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.Register .link-login {
	margin-left: 5px;
	text-decoration: none;
	font-weight: 600;
	font-size: 16px;
}
