.abrigo-form img {
	height: 80px;
	width: 100%;
	margin: auto;
	margin-bottom: 50px;
}

.abrigo-form {
	padding: 20px;
}

.abrigo-form .address-field{
	margin-top: 30px;
}

.abrigo-form .subtitle{
	margin-bottom: 30px;
}

.abrigo-form label {
	font-weight: bold;
	font-size: 15px;
}

.abrigo-form button {
	display: block;
	background: #333366;
	color: #ebebeb;
	border: 0;
	border-radius: 4px;
	width: 100%;
	padding: 16px;
	font-weight: bold;
	font-size: 15px;
	transition: background-color 0.2s;
}

.abrigo-form button:hover {
	background-color: #5d5d99;
}

.abrigo-form .submit-button {
	margin: auto;
}

.abrigo-form .location-access {
	justify-content: center;
	display: flex;
	margin: auto;
	margin-top: 10px;
	padding: 10px;
}

.abrigo-form .btn-permitir {
	margin-top: 10px;
}
  