.formulario-contato label {
	font-weight: bold;
}

.contato-form {
	display: flex;
}

.formulario-contato .input-form {
	background: #E5E5E5;
	margin-left: 100px;
}

.formulario-contato .contato-form-btn{
	display: flex;
	justify-content: flex-end;
}

.formulario-contato .send-button {
	background: #669999;
	width: 35%;
	transition: background 0.2s;
}

.formulario-contato .send-button:hover {
	background: #527272;
}
