.formulario-contato label {
	font-weight: bold;
}

.contato-form {
	display: flex;
}

.formulario-contato .input-form {
	background: #E5E5E5;
	margin-left: 50px;
}

.formulario-contato .contato-form-btn{
	display: flex;
	justify-content: flex-end;
}

.formulario-contato .send-button {
	background: #669999;
	border: none;
	width: 35%;
	font-weight: 600;
	font-size: 16px;
	transition: background 0.2s;
}

.formulario-contato .send-button:hover {
	background: #527272;
}
