.link-nav {
	text-decoration: none;
	color: #fff;
}

.bttn {
	background: #669999;
	color: #fff;
	width: 200px;
	text-align: center;
	border-radius: 4px;
	transition: background 0.5s;
}
	
.bttn:hover {
	background: #1d4949;
}