.user-navbar .link-navbar {
  text-decoration: none!important;
  color: #333366;
  padding: 0 3px;
	font-weight: 600;
	font-size: 18px;
  border-radius: 4px;
  transition: background 0.5s;
  transition: color 0.2s;
}
  
.user-navbar .link-navbar:hover {
  background: #669999;
  color: #fff;
}
  
.user-navbar .logout-btn {
  background: #669999;
  border: none;
  padding: 0 5px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
	transition: background 0.5s;
}
		
.user-navbar .logout-btn:hover {
	background: #527272;
}
