#sobre-nos {
	background: url('../../imagens/logotipo-cinza.svg') repeat-y right bottom fixed;
}

#sobre-nos h1 {
	margin: 34px 0 40px 55px;
	color: #669999;
}

.sb-nos {
	background:#bdd3d3;
	height: 525px;
}

.sb-nos p {
	font-weight: 600;
	font-size: 20px;
}