.pay-sucesso h1 {
  background: #669999;
  color: #fff;
  border-radius: 6px;
  padding: 10px 40px;
  margin: 30px 50px;
  text-align: center;
  margin: 30px auto;
}

.pay-sucesso img {
  width: 100%;
  height: 100%;
}

.pay-sucesso .text {
  border-radius: 6px;
  font-weight: 600;
  font-size: 20px;
  padding: 20px;
  text-align: justify;
}

