.home-page .home-btns {
  background: #669999;
  border: none;
  font-weight: 600;
  font-size: 18px;
  transition: background 0.2s;
}

.home-page .home-btns:hover {
	background: #527272;
}

.home-page .btn-links {
  text-decoration: none;
  color: #fff;
}

.home-page .first-container .home-logo {
  width: 500px;
  height: 100%;
  margin-top: 20px;
}

@media (max-width:600px) 
{
  .home-page .first-container .home-logo {
    width: 400px;
    height: 100%;
  }
}

.first-container .slogan {
  text-align: center;
}

.home-page .first-container .saiba-mais-link {
  background: #669999;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
  padding: 15px 70px;
}

.home-page .first-container .saiba-mais-link:hover {
	background: #527272;
}

.second-container {
  margin-top: 40px;
}

.find-abrigos {
  background:#bdd3d3;
}

.find-abrigos main {
  width: 75%;
  margin: auto;
  margin-top: 10%;
  padding: 25px;
  text-align: center;
}

.find-abrigos main p {
  margin: 25px 0;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.depoimento-wbackground {
  background:#bdd3d3;
  padding: 50px 50px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home-page .depoimento-content {
  font-weight: 600;
  font-size: 18px;
}

.home-page .depoimento-title {
  font-weight: 500;
  font-size: 15px;
  font-style: italic;
  justify-content: center;
}

.second-container .depoimentos-box {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.depoimentos-box .depoimentos {
  padding: 50px 80px 0;
}

.home-page .third-container {
  background: #669999;
}

.home-page .third-container .content-wrapper {
  width: 100%;
  border: none;
}

.home-page .third-container .content-wrapper .each-number {
  background:#333366;
  color: #ffffff;
  border-radius: 8px;
  margin: 0 20px;
  padding: 10px 10px;
  font-weight: 600;
  font-size: 80px;
}

@media (max-width: 725px) 
{
  .home-page .third-container .content-wrapper .each-number {
    margin: 0 5px;
    padding: 2px;
    font-size: 50px;
  }
}
