.responsive-navbar .link-navbar {
  text-decoration: none!important;
  color: #333366;
	font-weight: 600;
	font-size: 18px;
  border-radius: 4px;
  transition: background 0.5s;
  transition: color 0.2s;
}
  
.responsive-navbar .link-navbar:hover {
  background: #669999;
  color: #fff;
}
  
.responsive-navbar .register {
  background: #669999;
  width: 12vw;
  padding: 0;
	border-radius: 4px;
	transition: background 0.5s;
}
		
.responsive-navbar .register:hover {
	background: #527272;
}

.responsive-navbar .link-register {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
	font-size: 16px;
}
