.modal-form .bt-open-modal {
	padding: 0 5px;
	background: #669999;
	color: #fff;
  border: none;
	font-weight: 600;
	font-size: 16px;
	border-radius: 4px;
	transition: background 0.5s;
}
		
.modal-form .bt-open-modal:hover {
	background: #527272;
}

.modal-component .bt-close-modal {
	background: #333366;
	display: flex;
	align-self: flex-end;
	margin: 10px 10px;
	padding: 10px;
}

.modal-component .bt-close-modal:hover {
	background-color: #5d5d99;
}
