.abrigo-perfil {
	background: #bdd3d3;
	padding: 50px;
	font-weight: 600;
	font-size: 16px;
}

.abrigo-perfil .link-doacao {
	text-decoration: none;
	color: #ffffff;
	font-weight: 600;
	font-size: 18px;
}

